body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background: linear-gradient(#fff, #f0e5de);
}

h1 {
  font-family: "Times New Roman", Times, serif;
  word-spacing: 5px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.imagen-derecha {
  max-width: 100%; /* La imagen no se puede expandir más allá de su tamaño original */
  height: 80%;
  margin-top: 20px;
  margin-left: 45%;
}

.container-1 {
  width: auto;
  height: 300px;
  background: linear-gradient(#fff, #f0e5de);
}

header {
  background: linear-gradient(#ba9, #f0e5de);
}

.section-3 {
  background-color: #fffc;
}

.section-4 {
  background-color: #dcb;
}

.lista-inicio {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #ffd700;
}

section {
  padding: 60px 0;
  text-align: center;
}

.hero {
  background-color: #f0e5de;
  color: #333;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.about {
  background-color: #ffdab9;
  color: #333;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.products {
  background-color: #e6f7ff;
  color: #333;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contact {
  background-color: #d1e0e0;
  color: #333;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 15px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin-top: -10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #242424;
}

nav a:hover {
  text-decoration: underline;
  color: #555;
}

h2,
strong {
  font-family: "Times New Roman", Times, serif;
}

.recomendaciones {
  font-size: 20px;
}

.analisis-image {
  margin: auto;
  width: 30%;
  height: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.productos-usados {
  margin: auto;
  width: 30%;
  height: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.lista-fin {
  display: block;
}
.lf {
  padding-bottom: 20px;
  margin: auto;
}

.container-ult {
  background: linear-gradient(#ba9);
}
